* {
    box-sizing: border-box;
    font-family: 'Recursive', sans-serif;
}

h1{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color: #FFFFFF;
}

body{
    background: #FB6B6B;
    border: 1px solid #DBDBDB;
}

.start-screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-screen img{
    width: 55px;
    height: 65px;
    margin-top: 24vh;
}

.start-screen h1{
    font-size: 35px;
    line-height: 31px;
    margin-top: 3vh;
}

.start-screen button{
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 70%;
    max-width: 260px;
    height: 40px;
    margin-top: 19vh;
    font-weight: 400;
    font-size: 14px;
    color: #D70900;
}

.main-screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-screen header{
    display: flex;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.main-screen header h1{
    font-size: 20px;
    line-height: 25px;
}
.main-screen header img{
    width: 26px;
    height: 30px;
    margin-right: 5px;
}

.main-screen footer{
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-screen p{
    font-family: 'Recursive', sans-serif;  /* por algum motivo tive que declarar isso aqui denovo */
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}


.flashcard{
    width: 90vw;   
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 6px;

}

.flashcard p{
    margin-right: 10px;
}

.unselected{
    height: 40px;
    max-height: 55px; 
    padding-right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700; 
}

.unselected ion-icon{
    font-size: 25px;
    font-weight: 700;
    color: #333333;
}

.question{
    position: relative;
    height: 80px;
    font-weight: 400;
    padding-top: 13px;
}

.question img{
    position: absolute;
    right: 12px;
    bottom: 12px;
}

.answer{
    height: 80px;
    font-weight: 400;
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    max-width: 330px;
}

.option{    
    height: 24px;
    width: 100%;
    max-width: 100px;
    margin-right: 5px;
    font-weight: 400;
    font-size: 7px;
    line-height: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.hidden{
    display: none;
}

.red{
    background: #FF3030;
}

.yellow{
    background: #FF922E;
}

.green{
    background: #2FBE34;
}


@media(min-width: 372px){
    .start-screen button{
        height: 55px;
    }
    .option{    
        font-size: 10px;
        line-height: 8px;
    }
    .question img{
        height: 38px;
        width: 25px;
        height: 15px;
    }
    .question{
        height: 90px;
    }
    .answer{
        height: 90px;
    }
}

@media (min-width: 500px) {    
    .flashcard{
        height: 55px;
    }
    .main-screen header h1{
        font-size: 32px;
        line-height: 40px;
    }
    .main-screen header img{
        width: 40px;
        height: 46px;
        margin-right: 20px;
    }

    .main-screen footer p{
        font-size: 19px;
    }
    
    .flashcard p{   
        font-size: 17px;
    }

    .flashcard ion-icon{
        font-size: 38px;
    }

    .question{
        height: 120px;
    }
    .question img{
        width: 30px;
        height: 19.5px;
    }
    
    .answer{
        height: 120px;
    }

    .options{
        max-width: 500px;
    }
    .option{    
        height: 44px;
        max-width: 150px;
        margin-right: 10px;
        font-size: 14px;
        line-height: 12px;
    }
    
}
  